<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/feed.css">
</head>
<body>
    <body>
        <nav>
         <div class="logo">
           <h5>LOGO</h5>
             
         </div>
         <ul class="navLink">
           <li><a href="#">About</a></li>
           <li><a href="#">Contact</a></li>
           <li><a href="#">Projects</a></li>
         </ul>
         <div class="lines">
             <div class="l1"></div>
             <div class="l2"></div>
             <div class="l3"></div>
         </div>
       </nav>
   
   <header>
     <h1>Pinterest Style Image Galley</h1>
     <h2>with Responsive Navigation Bar</h2>
   </header> 
   
     
   <div class="container">
         
   <div class="box">
                  
                   <img src="https://images.unsplash.com/photo-1723714807771-23b5447e2f65?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="image"></a>
               <div class="caption">Lorem ipsum </div>
     </div> 
         
   <div class="box">
                  
                   <img src="https://images.unsplash.com/photo-1723567685469-933243ddc2bd?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="image"></a>
               <div class="caption">Lorem ipsum </div>
     </div> 
         
   <div class="box">
                   
                   <img src="https://images.unsplash.com/photo-1722898614949-c9a315e35209?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="image"></a>
               <div class="caption">Lorem ipsum </div>
     </div> 
     <div class="box">
                   
      <img src="https://images.unsplash.com/photo-1594750282030-094fe1d3e3ba?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="image"></a>
  <div class="caption">Lorem ipsum </div>
</div>   
   
   
   </div>
       
       
       <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
         <script src="app.js"></script>
   </body>
                     
   
</body>
</html>